body{
	margin: 0;
	padding: 0;
	font-family: Quicksand;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 77px;
	padding: 10px 100px;
	box-sizing: boarder-box;
	border-bottom: 4px solid transparent;
	border-image: linear-gradient(45deg, #ff0, #f0f, #f00, #00f, #0f0);
	border-image-slice: 1;
	z-index: 1;
}

nav.black {
	background: rgba(0,0,0,0.8);
	height: 77px;
	padding: 10px 100px;
}

nav .logo {
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .3s;
}

nav.black .logo {
	color: #fff;
}

nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
	
}

nav ul li {
	list-style: none;
	margin-right: 125px;
	margin-left: -75px;
}

nav ul li a {
	line-height: 80px;
	color: black;
	padding: 12px 15px;
	text-decoration: none;
	text-transform: uppercase;
}

nav.black ul li a {
	color: #fff;
}

nav ul li a:focus {
	outline: none;
}

nav ul li a.active {
	background: #E2472F;
	color: #fff;
	border-radius: 6px;
}

section.sec1 {
	z-index:2;
	width: auto;
	height: 85vh;
	margin-top: 100px;
	background: url(new.jpg);
	background-size: cover;
	background-position: center;
	
}

section.sec1 h1 {
	position: absolute;
	color: red;
	font-family: Quicksand;
	font-size: 24px;
	bottom: 35px;
	right: 32px;
	
}

section.sec1 img {
    width: 100%;
    height: 100%;
}
/***********************
WRAPPER
***********************/

.wrappers {
  display: grid;
  grid-template-columns: 425px 425px 400px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  width: 200px;
}

.wrappers .a h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;	
	margin-left: 5px;
}

.wrappers .b h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;
	margin-left: 5px;	
}

.wrappers .c h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;
	margin-left: 5px;
}

.wrappers .d h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30;	
	margin-left: 5px;
}

.wrappers .e h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;	
	margin-left: 5px;
}

.wrappers .f h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;	
	margin-left: 5px;
}

/***********************
WRAPPER1
***********************/

.wrappers1 {
  display: grid;
  grid-template-columns: 425px 425px 400px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  width: 200px;
}

.wrappers1 .a h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 200px;	
	margin-left: 5px;
}

.wrappers1 .b h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 220px;
	margin-left: 5px;	
}

.wrappers1 .c h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;
	margin-left: 5px;
}

.wrappers1 .d h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 220px;	
	margin-left: 130px;
}

.wrappers1 .e h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;	
	margin-left: 5px;
}

.wrappers1 .f h2 {
	position: absolute;
	font-size: 24px;
	color: red;
	font-family: Quicksand;
	margin-top: 30px;	
	margin-left: 5px;
}




.box {
  background-color: #444;
  width: 375px;
  height: 275px;
  margin: 20px;
  margin-bottom: -5px;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}

.box img {
	width: 375px;
	height: 275px;
}

 




.content {
	margin-top: 80px;
}

.content p {
	width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size;
	line-height: 30px;
}

.content h1 {
	font-family: Quicksand;
	font-size: 32px;
	text-align: center;
}

.content1 {
	margin-top: 100px;
}

.content1 p {
	width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size;
	line-height: 30px;
}

.content1 h1 {
	font-family: Quicksand;
	font-size: 32px;
	text-align: center;
}

.content2 {
	margin-top: 100px;
}

.content2 p {
	width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size;
	line-height: 30px;
}

.content2 h1 {
	font-family: Quicksand;
	font-size: 36px;
	text-align: left;
	margin-left: 25px;
}

.box1 {
	width: 1200px;
	display: inline-block;
	height: 350px;
	margin: 30px;
}

.box1 img {
	float: left;
}

.box1 p {
	margin-top: -15px;
	float: right;
}